# Xcode
ios/Ribbon.xcodeproj/xcuserdata/
ios/Ribbon.xcodeproj/project.xcworkspace/xcuserdata/
ios/Ribbon.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/
DerivedData/
*.xcuserstate

# Swift Package Manager
core/.build/
core/.swiftpm/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
fastlane/.env

# Python
__pycache__/
*.pyc

# OS
.DS_Store
